@media(min-width:993px){
    .block_1{
        
        display: inline-block;
        width:  auto;
        max-width: 32%;
        margin-left: 8px;
    
    }
        .block_2{
            
            display: inline-block;
            width:  auto;
            max-width: 32%;
            margin-left: 8px;
        
        }
        .block_3{
            
            display: inline-block;
            width:  auto; 
            max-width: 32%;
        
        }
}

@media(min-width: 768px) and (max-width: 992px){

    .block_1{
        
        display: inline-block;
        width:  auto;
        max-width: 43%;
        margin-left: 8px;
    
    }
        .block_2{
            
            display: inline-block;
            width:  auto;
            max-width: 40%;
            margin-bottom: 8px;
        
        }

            .block_3{
                
                width:  auto; 
                max-width: 84%;
                margin-left: 6px;
            }


}

@media (max-width:768px) {

    .block_1{             
        width:  auto;  
        margin-bottom: 8px;
    
    }
        .block_2{
            
            width:  auto;
            margin-bottom: 8px;
        
        }

            .block_3{
                width:  auto; 
                margin-bottom: 8px;
            }   
    
}